In [1]:
import requests
import pandas as pd

## 1. Parse data

In [2]:
url = "https://th-api.upbit.com/v1/candles/days?market=THB-BTC&count=200"
headers = {}

In [3]:
response = requests.get(url)
data = response.json()
df = pd.DataFrame(data)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   market                   200 non-null    object
 1   candle_date_time_utc     200 non-null    object
 2   opening_price            200 non-null    float64
 3   high_price               200 non-null    float64
 4   low_price                200 non-null    float64
 5   trade_price              200 non-null    float64
 6   timestamp                200 non-null    int64
 7   candle_acc_trade_price   200 non-null    float64
 8   candle_acc_trade_volume  200 non-null    float64
 9   prev_closing_price       200 non-null    float64
 10  change_price             198 non-null    float64
 11  change_rate              200 non-null    float64
dtypes: float64(9), int64(1), object(2)
memory usage: 18.9+ KB

In [5]:
df.head()

,market,candle_date_time_utc,opening_price,high_price,low_price,trade_price,timestamp,candle_acc_trade_price,candle_acc_trade_volume,prev_closing_price,change_price,change_rate
0,THB-BTC,2023-09-10T00:00:00,917600.0,923960.0,917520.0,923960.0,1694323698157,25661.619606,0.027868,917580.0,6380.0,0.006953
1,THB-BTC,2023-09-09T00:00:00,917520.0,923420.0,917500.0,917580.0,1694290345099,166487.990783,0.180902,916720.0,860.0,0.000938
2,THB-BTC,2023-09-08T00:00:00,937040.0,937040.0,916720.0,916720.0,1694168754739,139988.074493,0.151091,931240.0,-14520.0,-0.015592
3,THB-BTC,2023-09-07T00:00:00,918220.0,931900.0,907180.0,931240.0,1694127113845,265826.687334,0.290149,919580.0,11660.0,0.012680
4,THB-BTC,2023-09-06T00:00:00,908520.0,919580.0,905000.0,919580.0,1694022970842,166256.566920,0.181291,909040.0,10540.0,0.011595

In [6]:
result_df = pd.DataFrame()
result_df['timestamp'] = df['candle_date_time_utc']
result_df['open'] = df['opening_price']
result_df['high'] = df['high_price']
result_df['low'] = df['low_price']
result_df['close'] = df['prev_closing_price']

In [7]:
result_df

               timestamp      open      high       low     close
0    2023-09-10T00:00:00  917600.0  923960.0  917520.0  917580.0
1    2023-09-09T00:00:00  917520.0  923420.0  917500.0  916720.0
2    2023-09-08T00:00:00  937040.0  937040.0  916720.0  931240.0
3    2023-09-07T00:00:00  918220.0  931900.0  907180.0  919580.0
4    2023-09-06T00:00:00  908520.0  919580.0  905000.0  909040.0
..                   ...       ...       ...       ...       ...
195  2023-02-27T00:00:00  820280.0  828820.0  813920.0  819960.0
196  2023-02-26T00:00:00  814540.0  822440.0  810980.0  805000.0
197  2023-02-25T00:00:00  814300.0  814300.0  796220.0  807280.0
198  2023-02-24T00:00:00  832980.0  832980.0  804460.0  833040.0
199  2023-02-23T00:00:00  838000.0  848240.0  821700.0  829980.0

[200 rows x 5 columns]

## 2. calculate and display

### maximum_closing_price

In [8]:
maximum_closing_price = result_df['close'].max()
maximum_closing_price_rows = result_df[result_df['close'] == maximum_closing_price]
print(maximum_closing_price_rows)

              timestamp       open       high        low      close
68  2023-07-04T00:00:00  1090480.0  1092620.0  1071320.0  1090480.0

### minimum_closing_price

In [9]:
minimum_closing_price = result_df['close'].min()
minimun_closing_price_rows = result_df[result_df['close'] == minimum_closing_price]
print(minimun_closing_price_rows)

               timestamp      open      high       low     close
183  2023-03-11T00:00:00  723340.0  723340.0  690660.0  691900.0

### average closing price

In [10]:
avg_price = result_df['close'].mean()
print(avg_price)

952926.2

## 3. price changing

In [11]:
result_df['price_changing'] = result_df['close'].diff()
result_df

,timestamp,open,high,low,close,price_changing
0,2023-09-10T00:00:00,917600.0,923960.0,917520.0,917580.0,NaN
1,2023-09-09T00:00:00,917520.0,923420.0,917500.0,916720.0,-860.0
2,2023-09-08T00:00:00,937040.0,937040.0,916720.0,931240.0,14520.0
3,2023-09-07T00:00:00,918220.0,931900.0,907180.0,919580.0,-11660.0
4,2023-09-06T00:00:00,908520.0,919580.0,905000.0,909040.0,-10540.0
...,...,...,...,...,...,...
195,2023-02-27T00:00:00,820280.0,828820.0,813920.0,819960.0,-2580.0
196,2023-02-26T00:00:00,814540.0,822440.0,810980.0,805000.0,-14960.0
197,2023-02-25T00:00:00,814300.0,814300.0,796220.0,807280.0,2280.0
198,2023-02-24T00:00:00,832980.0,832980.0,804460.0,833040.0,25760.0
199,2023-02-23T00:00:00,838000.0,848240.0,821700.0,829980.0,-3060.0

## 4. Filter table

In [12]:
filterd_df = result_df[result_df['price_changing']>10000]
filterd_df = filterd_df.head()

## 5. Correlation price_changing and high

In [13]:
correlation = filterd_df['price_changing'].corr(filterd_df['high'])

In [14]:
correlation

0.4931313406032412

In [15]:
filterd_df.to_csv('upbit_data.csv')